h1, h2 {
    text-align: center;
}

body {
    font-family: Helvetica, sans-serif;
}

#stats {
    display: inline-block;
    vertical-align: top;
}

#southCanvas {
    display: inline-block;
    vertical-align: top;
    background: url(texture.jpg);
}

#eastCanvas {
    display: inline-block;
    vertical-align: top;
    background: url(texture.jpg);
    transform: rotate(90deg);
}

#northCanvas {
    display: inline-block;
    vertical-align: top;
    background: url(texture.jpg);
    transform: rotate(180deg);
}

#westCanvas {
    display: inline-block;
    vertical-align: top;
    background: url(texture.jpg);
    transform: rotate(270deg);
}

#menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#score {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#rows {
    color: blue;
    font-weight: bold;
    vertical-align: middle;
}

#powerup {
    color: green;
    font-weight: bold;
    vertical-align: middle;
}

#direction {
    color: purple;
    font-weight: bold;
    vertical-align: middle;
}

#stats {
    position: absolute;
    bottom: 0em;
    right: 1em;
    visibility: hidden;
}

.divTable {
    display: table;
    margin: 0 auto;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

#rainbow {
    background: red;
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
    /* Standard syntax */
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
}
